.backBlue {
    background-image: url('./bananatile.jpg');
    height: 100vh;
    width: 100vw;
    background-repeat: repeat;
}

.yellowBox {
    background: #FAE700;

}

.cardBox {
    margin-top: 2.5%;
    position: absolute;
    right: 8%;
    left: 8%;
}

.underline {
    border-bottom: 2px solid currentColor;
    display: inline-block;
    line-height: 0.85;
    text-shadow:
        2px 2px white,
        2px -2px white,
        -2px 2px white,
        -2px -2px white;
    color: 'black';
    font-family: 'Poppins';
    font-size: 5vw;
    /* margin-bottom: 3vh; */
}

.butOff {
    font-family: 'Ribeye';
    font-size: 5vw;
}

.questionFont {
    font-size: 6.5vw
}

.bigButton {
    height: 30vh;
    width: 35vw;
    margin: 3%;
    font-size: 10vw;
}

.ready {
    margin: 1%;
    font-size: 10vw;
}

.image {
    width: 300px;
    height: 200px;
    margin: auto;
}

h4 {
    font-size: 5vw;
}

h3 {
    font-size: 7vw;
}

h2 {
    font-size: 4vw;
}