body,
html {
    height: 100%;
}

.bg {
    background-image: url("./newBananaBackground.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-family: 'Ribeye', cursive;
    text-decoration: bold;
    font-size: 4vw;
    text-shadow: 0 0 3px greenyellow;

}

h5 {
    font-family: 'Ribeye', cursive;
    text-decoration: bold;
    font-size: 40pt;
    text-shadow: 4px 3px 7px white;
}

.whatBanana {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30vh 10vw 5vh 10vw;
}


.startBut {
    text-align: center;
    font-family: 'Poppins';
    font-size: 40pt;
    border-radius: 12px;
    color: yellow;
}

.startBut:hover {
    background: yellow;
    color: black;
}

.myAnimation {
    animation-duration: 2s;
}

.myButtonAnimation {
    opacity: 0;
    animation: appear 4s;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    79% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}